@charset "ISO-8859-1";


.h1 {
  text-align: center;
  font-weight:bold;
   font-family: "Copperplate","Papyrus", Fantasy;
}

input {
  padding: 10px 20px;
  background-color: #4CAF50;
  margin-bottom:5px;
  color: white;
  border: none;
  border-radius: 5px;
  
}

button:hover {
  background-color: #45a049;
}
