/* styles.css */

body {
	font-family:  italic;;
	margin: 0;
	padding: 0;
}

h1 {
	background-color: #4CAF50;
	color: white;
	margin: 0;
	padding: 1rem;
	text-align: center;
}

#new-task {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
	margin: 1rem 0;
	padding: 0.5rem;
	width: 50%;
}

#add-task {
	background-color: #4CAF50;
	border: none;
	border-radius: 4px;
	color: white;
	font-size: 1rem;
	margin: 1rem 0;
	padding: 0.5rem;
	width: 10%;
	cursor: pointer;
}

#task-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#task-list li {
	background-color: #f9f9f9;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 1rem;
}

#task-list li:last-child {
	border-bottom: none;
}

#task-list li.complete {
	background-color: #ddd;
}